@{
    ViewData["Title"] = "Home Page";
}
@using CMSLibrary
@model ICustomerRepository

<div class="text-center">
    
    <h1>Cutomer Details</h1>
    <h1>details are coming from - @Model.GetCustomerdetails()</h1>

</div>
